<div class="login-page bg">
    <mat-toolbar class="loginheader">
        <span class="login-title-center">Event Collaboration System</span>
    </mat-toolbar>
    <!-- <div class="login-spacer"></div> -->
    <div class="login-container">
        <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
            <i id="lock-icon" class="material-icons">lock</i>
        </div>
        <h2 class="card-heading turqheading">
            <b> Login as Student </b>
        </h2>
        <form autocomplete="new-password" class="login-form">
            <mat-form-field>
                <input class="turqplaceholder" autofocus cdkFocusInitial required email [(ngModel)]="user.username"
                    name="username" autocomplete="new-password" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input required minlength="10" cdkFocusInitial [(ngModel)]="user.password" name="password"
                    autocomplete="new-password" matInput type='password' placeholder="Password">
            </mat-form-field>
        </form>
        <div class="buttons">
            <div class="login">
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
            <div class="register">
                <button (click)="loginAsAdmin()" mat-raised-button color="accent">Login as Admin</button>
            </div>
        </div>
    </div>
</div>