.login-page {
    height: 98vh;
    width: 100%;
}

.login-spacer {
    height: 20vh;
}

.login-container {
    margin: auto;
    width: 300px;
    padding: 2vh;
    margin-left: 65%;
    margin-top: 10%;
    background-color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
}

#login-fab {
    border-radius: 50%;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    overflow: hidden;
    background: green;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    margin-top: -35px;
    text-align: center;
    left: 0;
    right: 0;
}

#lock-icon {
    line-height: 56px;
    color: #fff;
}

.card-heading {
    text-align: center;
    color: rgba(0, 0, 0, 0.31);
}

.buttons .login {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.buttons .login>button {
    width: 100%;
}

.buttons .register {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: space-between;
}

.login-title-center {
    margin: 0 auto;
    font-family: Raleway;
}

.bg {
    background: url('../../assets/Mike.jfif') no-repeat center;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-y: hidden;
    opacity: 0.8;
}

.turqheading {
    color: mediumturquoise;
}

.turqplaceholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: mediumturquoise !important;
    max-width: 300px;
}

.loginheader {
    background: border-box !important;
    color: white;
    font-size: 50px;
    margin-top: 15px;
}