table {
  width: 100%;
}

/* .search-container{
    width:100%;
    display: flex;
  } */

.events-table {
  cursor: pointer;
}

.hdr {
  text-align: center;
}

.mat-row:hover {
  background-color: #64b5f6;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.add-event-btn {
  width: 5%;
  float: right;
  margin-left: 10%;
  padding-bottom: 15px;
}

.admin-logout-btn {
  width: 5%;
  float: right;
  margin-left: 5%;
  padding-bottom: 15px;
}

.search-add-grp {
  width: 100%;
}

.search-event-inp {
  width: 40%;
  margin-left: 40%;
  float: left;
}

.events-title-center {
  margin: 0 auto !important;
  font-family: Raleway;
}

.events-container {
  margin-top: 20px;
}

.chart-container {
  margin-top: 3%;
  margin-left: 20%;
  width: 60%;
}