table {
<<<<<<< HEAD
  width: 100%;
}

/* .search-container{
    width:100%;
    display: flex;
  } */

.events-table {
  cursor: pointer;
}

.hdr {
  text-align: center;
}

.mat-row:hover {
  background-color: #64b5f6;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.add-event-btn{
  width: 5%;
  float: right;
  margin-left: 30%;
  padding-bottom: 15px;
}

.search-add-grp{
  width: 100%;
}

.search-event-inp{
  width:60%;
  float: left;
}
=======
    width: 100%;
    padding-left:50px;
    padding-right:50px;
  }

  .search-container{
    width:100%;
    display: flex;
  }

  .hdr{
    text-align: center;
  }

  .events-container {
    display: flex;
  }
  
  .mat-row:hover {
    background-color:grey;
  }
>>>>>>> e3d2b03285d5024e3e98a267e12d0f3809f8bcf5
