<mat-toolbar color="accent">
    <span class="events-title-center">Upcoming Events</span>
    <span>{{user.name}}</span>
    <mat-menu #appMenu="matMenu">
        <span mat-menu-item>{{user.college_name}} - {{user.department_name}}</span>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs (selectedTabChange)="onEventtabChange($event)">
    <mat-tab label="Upcoming Events">

        <div class="events-container">

            <div class="search-add-grp">
                <div class="search-event-inp">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for an event">
                    </mat-form-field>
                </div>
                <div class="add-event-btn">
                    <button mat-fab color="primary" id="add-button" matTooltip="Add an event" (click)="addEvent()"><i
                            class="material-icons">add</i></button>
                </div>
            </div>


            <table color="primary" mat-table [dataSource]="eventsList" mat-paginator matSort #eventsSort="matSort"
                matSortDirection="asc" class="events-table mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Ev Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell mat-cell-eventname *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell mat-cell-eventname *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell mat-cell-eventname *matHeaderCellDef> Description </th>
                    <td mat-cell mat-cell-eventname *matCellDef="let element" class="mat-column-desc">
                        {{element.description}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="interests">
                    <th mat-header-cell mat-cell-eventname *matHeaderCellDef> Interests </th>
                    <td mat-cell mat-cell-eventname *matCellDef="let element" class="mat-column-desc">
                        {{element.interest_names}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef> Location </th>
                    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>

                <ng-container matColumnDef="event_dt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.event_dt | date:'MMM d, y'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Action </th>

                    <td mat-cell *matCellDef="let element">
                        <button (click)="deleteEvent(element)" mat-icon-button color="warn">
                            <mat-icon aria-label="delete an event">delete</mat-icon>
                        </button>
                        <button (click)="openEvent(element)" mat-icon-button color="primary">
                            <mat-icon aria-label="View an event">remove_red_eye</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

        </div>

        <div class="footer">
            <mat-paginator #eventsPginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>

    </mat-tab>
    <mat-tab label="Events at a Glance">
        <div class="chart-container" *ngIf="pieChartLabels && pieChartData">

            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                [colors]="pieChartColors"></canvas>
        </div>
    </mat-tab>
    <mat-tab label="Events History">

        <div class="events-container">

            <div class="search-add-grp">
                <div class="search-event-inp">
                    <mat-form-field>
                        <input matInput (keyup)="applyHistoryFilter($event.target.value)"
                            placeholder="Search for an event">
                    </mat-form-field>
                </div>
            </div>

            <table color="primary" mat-table [dataSource]="historyList" #historySort mat-paginator matSort
                #historySort="matSort" matSortDirection="asc" class="events-table mat-elevation-z8">

                <ng-container matColumnDef="event_name">
                    <th mat-header-cell mat-cell-eventname *matHeaderCellDef mat-sort-header> Event name </th>
                    <td mat-cell mat-cell-eventname *matCellDef="let element"> {{element.event_name}} </td>
                </ng-container>

                <ng-container matColumnDef="student_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
                </ng-container>

                <ng-container matColumnDef="usn">
                    <th mat-header-cell mat-cell-eventname *matHeaderCellDef> USN </th>
                    <td mat-cell mat-cell-eventname *matCellDef="let element" class="mat-column-desc">
                        {{element.usn}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell mat-cell-eventname *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell mat-cell-eventname *matCellDef="let element" class="mat-column-desc">
                        {{element.registration_status}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="college">
                    <th mat-header-cell *matHeaderCellDef> College </th>
                    <td mat-cell *matCellDef="let element"> {{element.college_name}} </td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef> Department </th>
                    <td mat-cell *matCellDef="let element"> {{element.department_name}} </td>
                </ng-container>

                <ng-container matColumnDef="updated_dt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.updated_dt | date:'MMM d, y'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedHistoryColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedHistoryColumns;"></tr>

            </table>

        </div>

        <div class="footer">
            <mat-paginator #historyPaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>

    </mat-tab>
    <mat-tab label="Add Student">
        <div class="register-form" [formGroup]="registerform">
            <form autocomplete="new-password" #formDirective="ngForm">
                <mat-form-field>
                    <input required [(ngModel)]="newUser.name" name="name" autocomplete="new-password" matInput
                        placeholder="Student Name">
                </mat-form-field>
                <mat-form-field>
                    <input required email [(ngModel)]="newUser.username" name="username" autocomplete="new-password"
                        matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input required minlength="10" [(ngModel)]="newUser.usn" name="usn" autocomplete="new-password"
                        matInput placeholder="University Serial Number">
                </mat-form-field>
                <mat-form-field>
                    <input required minlength="10" [(ngModel)]="newUser.password" name="password"
                        autocomplete="new-password" matInput type='password' placeholder="Password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select College</mat-label>
                    <mat-select name="college_id" required [(ngModel)]='newUser.college_id'>
                        <mat-option *ngFor="let college of colleges" [value]="college.id">
                            {{college.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select Department</mat-label>
                    <mat-select name="department_id" required [(ngModel)]='newUser.department_id'>
                        <mat-option *ngFor="let department of departments" [value]="department.id">
                            {{department.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <div class="buttons">
                <div class="login">
                    <button mat-raised-button color="primary" (click)="register()">Add Students</button>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>